html
  head
    title Education Website
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    header
      h1 Welcome to our Education Website
      nav
        div(style="display:flex")
          div(style="margin-right: 10px;flex:1;background-color:white;height:20px;text-align:center")
            a(href="/signin") Sign In  
          div(style="margin-right: 10px;flex:1;background-color:white;height:20px;text-align:center")
            a(href="/about") About   
          div(style="margin-right: 10px;flex:1;background-color:white;height:20px;text-align:center")
            a(href="/review2") Review Website   
          
    section
      h2 Latest Courses
      
      div(style="height:100px ;width:100px ;background-color:red;text-align:center;color:white")
        a(href='/dope')  Maths
      br
      div(style="height:100px ;width:100px ;background-color:red;text-align:center")
        a(href='/dope')  Physics
      br
      div(style="height:100px ;width:100px ;background-color:red;text-align:center")
        a(href='/dope')  Chemistry